.vscode/
Abschnitt 3 - Grundlagen, if for while/
Abschnitt 4 - Grundlagen (Arrays, foreach, isset)/
Abschnitt 6 - Funktionen/
Abschnitt 7 - Objektorientierung/
Abschnitt 8 - Projekt Blog programmieren/
Abschnitt 9 - Objektorientierung/
Abschnitt 10 - Blog II/
Abschnitt 11 - Type Declarations/
Abschnitt 12 – Objektorientierung III/
Abschnitt 13 - Blog III/
Abschnitt 16 - Formulare verarbeiten/
z-verbuggt-Abschnitt 9 - Objektorientierung/
Archiv/
Beispielloesung/
SQL/

Archiv.zip
database.php
form.php
submit.php
js-reduce-method.js
js-sport-exercise-iterator.js
php-bootcamp.code-workspace
selectall.sql
pages/post_objektschreibweise.php